/*Job
------------------------------------*/
.job-img {
	overflow: hidden;
	position: relative;
	min-height: 100px;
	background-size: cover;
  background-position: center center;
}

.job-img .job-banner {
    padding-top: 4px;
    /* max-width: 780px; */
    margin: 60px auto 100px;
    /* background: rgba(255,255,255,0.2); */
}

.job-img .job-banner h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.job-img .job-banner h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
	.job-img .job-banner {
		padding: 10px;
		margin: 30px auto 100px;
	}
}

/* 통합검색부 */
.job-img .job-img-inputs {
	left: 0;
	right: 0;
	bottom: -7px;
	padding: 20px 0;
	position: absolute;
	background: rgba(0,0,0,0.5);
}

.job-img2 {
	overflow: hidden;
	position: relative;
	min-height: 79px;
	background-size: cover;
  background-position: center center;

}

.job-img2 .job-banner {
    padding-top: 4px;
    /* max-width: 780px; */
    margin: 60px auto 100px;
    /* background: rgba(255,255,255,0.2); */
}

.job-img2 .job-banner h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.job-img2 .job-banner h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
	.job-img2 .job-banner {
		padding: 10px;
		margin: 30px auto 100px;
	}
}

/* 통합검색부 */
.job-img2 .job-img-inputs {
	left: 0;
	right: 0;
	bottom: -7px;
	padding: 20px 0;
	position: absolute;
	background: rgba(0,0,0,0.5);
}


/*Job-Content
------------------------------------*/
.job-content .categories li {
	padding: 6px 0;
	border-bottom: 1px dotted #eee;
}

.job-content .hex {
	color: #999
}

/*High-Rated
------------------------------------*/
.high-rated .carousel-indicators {
	top: 10px;
	left: 65%;
	text-align: right;
}

.high-rated .carousel-indicators .active {
	background: #555;
}

.high-rated .carousel-indicators li {
	border-color: #555;
}

.high-rated .carousel-inner > .item {
	margin: 0;
}

.high-rated .star-vote {
	float: right;
	margin-top: 8px;
}

.high-rated .star-vote ul {
	margin-bottom: 0;
}

.high-rated .star-vote li {
	padding: 0;
}
